*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.top-heading{
    font-size: 30px;
    padding: 25px;
}
nav{
    flex: 1;
    text-align: right;
}
 nav ul{
    display: inline-block;
    list-style-type: none;   
 }

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #e7cce4;
}
p{
    color:#0a0a0a;
}
#products{
    width: 50%;
    object-fit: cover;
}

.products-1 img{
    width: 50%;
    display: grid;
    grid-template-columns: auto;

}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.column1{
    flex-basis: 50%;
    min-width: 300px;
    align-content: center;
  
}
.column1 img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.column1 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #ffffff;
    text-align: center;
}

.offer-img{
    width: 100%;
 height: 100%;
 object-fit: cover;
}


.column1 p{
    color: #ffffff;
}
.btn {
    display: inline-block;
    background: rgb(116, 7, 101);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(224, 47, 124);
}

.header {
    background: #640c59;
    background-image: url(images/heroimage.jpg);
    object-fit: contain;
    height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header .row{
    margin-top: 370px;
}

.categories {
margin: 70px 0;

}

.column3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.column3 img{
    width: 100%;
    height:250px;
    object-fit: cover;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.column4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    text-align: center;
}

.column4 img{
    width: 100%;
    height:450px;
    object-fit: cover;
}

.title{
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    line-height: 60px;
    color: #2a0731;
    font-size: 50px;
}


.titleheading{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #500350;
    font-size: 50px;
}


.titlerow{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.titlerow img{
    width: 100%;
    height:250px;
    object-fit: cover;
}

.titleheading2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #500350;
    font-size: 50px;
}


.titlerow2{
    width: 300px; 
    height: 300px;
    border-radius: 50%; 
    overflow: hidden; 
    background-color: #280233;
}

.titlerow2 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}



h4{
    color: #bb75c2;
    font-weight: normal;

}
.column4 p{
    font-size: 14px;
}

.rating .fa{
    color:#4f1557;
}
.column4:hover {
transform: translateY(-5px);
}
/*------offer-------*/
.offer {
    background: #270531;
    margin-top: 80px;
    padding: 30px 0;
}
.column1 .offer-img{
    padding: 20px;
}
small{
    color: #555;
}

/*------testiomanial-------*/
.testimonial {
    padding-top: 100px;

}
.testimonial .column3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .column3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .column3:hover{
    transform: translateY(-10px);
}


.column3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #070202;
}
.testimonial .column3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*------footer-------*/
.footer{
    background: rgb(73, 8, 70);
    color: #fff;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #fff;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*------Product page-------*/

.product-page{
    margin-top: 10px;
}

.product-page .column1 img{
padding: 10%;

}

.product-page .column1{
    padding: 10px;
}

.product-page h4{
margin: 20px 0;
font-size: 22px;
font-weight: bold;
}

.product-page select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.product-page input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #270531;
}

input:focus {
    outline: none;
}

.small-image-row{
    display: flex;
    justify-content: space-between;
}

.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}




.offer-about {
    background: radial-gradient(rgb(221, 154, 241), rgb(202, 47, 194));
    margin-top: 80px;
    padding: 30px 0;
}
.columnAB .offer-img{
    padding: 20px;
}




@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 90px;
        left: 0;
        background: #270531;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px){
    .row{
      text-align: center;
    }
    .column1, .column3, .column4 {
        flex-basis: 100%;
    }
    .product-page .row{
        text-align: left;
    }
    .product-page .column1{
        padding: 20px 0;
    }
    .product-page h1{
        font-size: 26px;
        line-height: 22px;
    }
}